body {
  display: flex;
  justify-content: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #191925;
}

.blob {
  background: #6c608d;
  float: left;
  height: 95px;
  width: 95px;
  padding: 0;
  text-align: center;
  border-radius: 5px;
}

.board {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  height: 400px;
  background-color: #6c608d;
  gap: 5px;
  border-radius: 10px;
  margin-top: 25px;
}

.done-blob {
  width: 400px;
  height: 400px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 10px;
}

.navbar {
  background-color: #302d44;
  display: flex;
  width: 410px;
  height: 40px;
  padding: 0;
  margin: 0;
  align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
}

.navelement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  margin: 0;
  flex-grow: 1;
  font-size: x-large;
  width: max-content;
  text-decoration: none;
  color: #e2e2e2;
}

.navelement:hover {
  background-color: #ff6347;
}
